body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
}

.header {
  background-color: #003f5c;
  /* height: 256px; */
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.header-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  /* margin: 0 auto; */
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.CalendarDay__selected_span,
.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: #003f5c;
  border: 1px double #003f5c;
  color: #fff;
}

a {
  color: #003f5c;
  font-weight: bold;
}

p {
  margin-top: 10px;
}

.dash-table-container
  .dash-spreadsheet-container
  .dash-spreadsheet-inner
  table {
  border-collapse: collapse;
  font-family: 'Karla', sans-serif;
  --accent: #ffa600;
  --border: lightgrey;
  --text-color: #3c3c3c;
  --hover: #fdfdfd;
  --background-color-ellipses: #fdfdfd;
  --faded-text: #fafafa;
  --faded-text-header: #b4b4b4;
  --selected-background: rgba(255, 65, 54, 0.2);
  --faded-dropdown: #f0f0f0;
  --muted: #c8c8c8;
}

.dash-table-container .previous-next-container .page-number {
  /* font-family: monospace; */
  display: inline-block;
}
